FILE DEDICADO A TRABAJAR CON UN FICHERO DE EXCEL

In [ ]:
#Cargar un dataframe a partir de un fichero de excel, para leer un fichero de excel se usa la librería, llamada openpyxl, 
# un dataframe solo cargará una hoja de excel (tendremos que especificar)
%pip install openpyxl

In [ ]:
import pandas as pd
#debes conectar con cada hoja por separado
agosto2014= pd.read_excel(r"C:\Users\Laura Fort\Documents\Python\introductionPython\VentasGroucery_Meses.xlsx",
                          sheet_name="Ventas Agosto 2014")
agosto2014

septiembre2014= pd.read_excel(r"C:\Users\Laura Fort\Documents\Python\introductionPython\VentasGroucery_Meses.xlsx",
                          sheet_name="Ventas Septiembre 2014")
septiembre2014

In [8]:
#Cómo anexar 2 DataFrames para obtener una solo, con todos los registros
#CUIDADO!! deben tener misma estructura

#Importante! siempre ignore_index ya que sino habría IDs repetidas
biMensual= pd.concat([agosto2014, septiembre2014], ignore_index=True)
biMensual

biMensual["Amount"]=biMensual["Unit Price"]*biMensual["Quantity"]
biMensual

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0
...,...,...,...,...,...,...,...,...,...,...
123,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,571.2
124,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,37.2
125,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,552.0
126,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,468.0
127,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,259.2