SEGUNDO DÍA DE CLASE

In [ ]:
#estructura de decisión if

alfa = "Barcelona"

if alfa == "barcelona":
    print("Verdadero")
else:
    print("Falso")

PRACTICA 1:
- CON LA LISTA DE MESES Y MEDIANTE UN BUCLE FOR IMPRIMIR TODOS LOS MESES, MENOS JUNIO
PRACTICA 2:
- CON LA LISTA DE NÚMEROS: 15, 33, 48,62,25,57,84 Y MEDIANTE UN BUCLE FOR IMPRIMIR SOLAMENTE LOS NÚMEROS MAYORES DE 40
PRACTICA 3:
- CON LA LISTA DE LOS MESES Y MEDIANTE UN BUCLE FOR IMPRIMIR TODOS LOS MESES, CUYO NÚMERO DE CARACTERES DE SU NOMBRE SEA IGUAL A 5

In [ ]:
#PRACTICA 1

meses= ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

for mes in meses:
    if mes != "Junio":
        print(mes)

In [ ]:
#PRACTICA 2

numeros= [15, 33, 48,62,25,57,84]

for numero in numeros:
    if numero > 40:
        print(numero)

In [ ]:
#PRACTICA 3

for mes in meses:
    if len(mes) == 5:
        print(mes)

EN UNA ESTRUCTURE IF, TENGO 2 OPCIONES DE DEVOLUCIÓN
IF CONDICIÓN:
    OPCIÓN DEV. 1
ELSE:
    OPCIÓN DEV. 2
CON EL ELIF TENDRÉ MÁS OPCIONES DE DEVOLUCIÓN, SIRVE PARA ANALIZAR VARIAS CONDICIONES, LA CONDICIÓN ES QUE SIEMPRE SE ANALIZA EL MISMO VALOR

In [ ]:
provincia = "Barcelona"
if provincia == Barcelona:
    #primera opción
    print("Vedadero")
elif provincia == "Girona":
    #segunda función
    print("Falso")
elif provincia == "Lleida":
     #tercera función
     print("Falso")
elif provincia == "Tarragona":
    #cuarta función
    print("Falso")
else:
    #tend´ría la 5 opción
    print("No existe")

In [ ]:
#Clasificar el valor de una variable por múltiplos de 24, hasta 100

x= 101
if x>=0 and x<=25:
    print("comprendido entre 0 y 25")
elif x<=50:
    print("comprendido entre 25 y 50")
elif x<=75:
    print("comprendido entre 50 y 75")
elif x<=100:
    print("comprendido entre 75 y 100")
else:
    print("es menor a 0 omayor que 100")

PRÁCTICA 4:
- MEDIANTE UNA LISTA NUMÉRICA [13,27,34,87,123,46,61,88,32,-6,150,28] Y USANDO UN BUCLE FOR COMBINADO CON UN IF ANIDADO, CLASIFICAR LOS NÚMERO POR MÚLTIPLOS DE 30 HASTA EL 120, SI NO ESTÁ EN ESE INTERVALO MOSTRAR MENSAJE "EL NÚMERO 13 ESTÁ COMPRENDIDO ENTRE 0-30"

In [ ]:
#práctica 4

numbers= [13,27,34,87,123,46,61,88,32,-6,150,28]

numbers_order= sorted(numbers)
print(numbers_order)

for i in numbers_order:
    if i <0:
        print( "está por debajo de rango")
    elif i <=30:
        print( "el número",i,"está entre el 0 y el 30")
    elif i <= 60:
        print( "el número",i,"está entre el 30 y el 60")
    elif i <=90:
        print( "el número",i,"está entre el 60 y el 90")
    elif i <= 120:
        print( "el número",i,"está entre el 90 y el 120")
    else:
        print("está por encima de los rangos")

In [ ]:
x= 10

match x:
    case 1:
        print("X vale 1")
    case 2:
        print("X vale 2")
    case 10:
        print("X vale 10")

In [ ]:
#como salir de un bucle con la instrucción break

dia = "Domingo"
for letra in dia:
    if letra == "n":
        break
    print(letra)

In [ ]:
#como saltar una iteración de un bucle con la instrucción continue

dia = "Domingo"
for letra in dia:
    if letra == "n":
        continue
    print(letra)

In [ ]:
#2 funciones de texto, LOWER y UPPER, para convertir mayúsculas y minúsculas
dia = "domingo"
for letra in dia:
    if letra == "n":
        continue
    letra_mayus= letra.upper()
    print(letra_mayus)
    
print(letra_mayus.lower())

PRÁCTICA 5: IMRPIMIR LAS LETRAS EN MAYUS DE LA PALABRA supercalifragilisticoespialidoso EXCEPTO LAS LETRAS A

PRÁCTICA 6: APROVECHANDO LA LISTA NUM. DE LA PRÁC. 4, IMPRIMIR LOS VALORES DE MANERA INDIVIDUAL HASTA QUE LA SUMA DE ESTOS VALORES SEA MAYOR 100

PRÁCTICA 7: IMRPIMIR LA LISTA DE LAS SIGUIENTES CIUDADES: BARCELONA, MURCIA, VALENCIA, TOLEDO, BILBAO, SALAMANCA, TERUEL, BURGOS, MADRID, TARRAGONA
SIEMPRE Y CUANDO EL NÚMERO DE CARACTERES DE SU NOMBRE SEA DIFERENTE A 6

In [68]:
#práctica 5

palabra= "supercalifragilisticoespialidoso"

for letra in palabra:
    if letra != "a":
        print(letra.upper(), end=" ")
    '''else:
        print(letra)'''

S U P E R C L I F R G I L I S T I C O E S P I L I D O S O

In [72]:
#práctica 6
numbers= [13,27,34,87,123,46,61,88,32,-6,150,28]
sum= 0
for i in numbers:
    sum+=i
    if sum > 100:
        break
        
    print(i, end=" ")
    print("la suma total es",sum)

13 la suma total es 13
27 la suma total es 40
34 la suma total es 74

In [73]:
#práctica 7

ciudades= ["BARCELONA", "MURCIA", "VALENCIA", "TOLEDO", "BILBAO", "SALAMANCA", "TERUEL", "BURGOS", "MADRID", "TARRAGONA"]

for ciudad in ciudades:
    if len(ciudad) != 6:
        print(ciudad)

BARCELONA
VALENCIA
SALAMANCA
TARRAGONA

CREACIÓN DE FUNCIONES PERSONALIZADAS
- PRINT SIEMPRE DEVUELVE UN STRING, PERO UN RETURN SE PUEDE USAR PARA OBTENER UN RESULTADO QUE SE PUEDE USAR EN OTRO SITIO Y EL TIPO PUEDE SER DIFERENTE
estructura:

def nombre_funcion(parámetro1, parámetro2):
requiere ejecución posterior siempre que se realice un cambio en una función

In [84]:
#función para sumar 10 a un número

def suma10(x):
    print("se está realizando la suma de 10 al parámetro...")
    return x+10

In [87]:
resultado= suma10(45)

print("Resultado:",resultado)

se está realizando la suma de 10 al parámetro...

55

In [88]:
def suma20(x):
    return x+20

In [89]:
14+suma20(5)

39

In [90]:
def sum_a_b(a,b):
    return a+b

In [93]:
sum_a_b(15,60)

75

PRÁCTICA 8: HACER UNA FUNCIÓN QUE SUME 12 A UN NÚMERO Y LO DIVIDA ENTRE 2 (QUE DEVUELVA UN TEXTO)

PRÁCTICA 9: HACER UNA FUNCIÓN QUE PASÁNDOLE UN NÚMERO ENTRE EL 1 Y EL 12 NOS DEVUELVE EL MES EN LETRAS, OJO SI SE LE PASA UN VALOR QUE NO ESTÉ EN EL INTERVALO.

PRÁCTICA 10: CREAR UNA FUNCIÓN QUE NOS DEVUELVA EL ÁREA DE UN TRIÁNGULO

In [123]:
#práctica 8

def sum12div2(x):
    #con la función round redondamos el resultado a los decimales indicados en el núm. de después de la coma
    total= round((x+12)/2,2)
    print("El resultado de sumar 12 a",x,"y dividir entre 2 es:",total)

In [125]:
#llamada función práctia 8

sum12div2(157.554)

El resultado de sumar 12 a 157.554 y dividir entre 2 es: 84.78

In [130]:
#práctica 9
def meses(x):
    match x:
        case 1:
            print("Enero")
        case 2:
            print("Febrero")
        case 3: 
            print("Marzo")
        case 4:
            print("Abril")
        case 5:
            print("Mayo")
        case 6:
            print("Junio")
        case 7:
            print("Julio")
        case 8:
            print("Agosto")
        case 9:
            print("Septiembre")
        case 10:
            print("Octubre")
        case 11:
            print("Noviembre")
        case 12:
            print("Diciembre")
        case default:
            print("mes no encontrado")

In [1]:
def devuelve_mes(x):
    meses= ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
    print(meses[x-1])

In [140]:
devuelve_mes(10)
meses(19)

Octubre
mes no encontrado

In [3]:
#práctica 10, calcular el área de un triángulo

def area_triangulo(base,altura):
    area= base*altura/2
    return area

In [4]:
area_triangulo(50,65)

1625.0

PRÁCTICA 11: CREAR UNA FUNCIÓN QUE NOS COMPARE 2 NÚMOEROS Y ME DEVUELVA OS 3 POSIBLES RESULTADOS: 
- A ES MAYOR QUE B
- A ES MENOR QUE B
A Y B SON IGUALES
PRÁCTICA 12: APROVECHANDO LA FUNCIÓN DE LA PRÁCTICA 8, RECORRER UNA LISTA CON LOS SIGUIENTES NÚMEROS [15,24,78,63,57] Y VER EL RESULTADO DESPUÉS DE APLICAR LA FUNCIÓN

In [142]:
#práctica 11
def compare_numbers(a,b):
    if a > b:
        print("A es mayor que B")
    elif a < b:
        print("A es menor que B")
    else:
        print("A y B son iguales")

In [146]:
compare_numbers(3,2)

A es mayor que B

In [147]:
#práctica 12

def recorrer_lista(list):
    for i in list:
        sum12div2(i)

In [148]:
list= [15,24,78,63,57]
recorrer_lista(list)

El resultado de sumar 12 a 15 y dividir entre 2 es: 13.5
El resultado de sumar 12 a 24 y dividir entre 2 es: 18.0
El resultado de sumar 12 a 78 y dividir entre 2 es: 45.0
El resultado de sumar 12 a 63 y dividir entre 2 es: 37.5
El resultado de sumar 12 a 57 y dividir entre 2 es: 34.5